services:
  spark-history-server:
    image: apache/spark:4.0.1-python3
    container_name: spark-history-server
    entrypoint: [ "/opt/spark/bin/spark-class", "org.apache.spark.deploy.history.HistoryServer" ]
    ports:
      - "18080:18080"
    volumes:
      - ./spark-events:/opt/spark/spark-events
    environment:
      - SPARK_HISTORY_OPTS=-Dspark.history.fs.logDirectory=file:/opt/spark/spark-events

  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z-cpuv1
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"

volumes:
  minio_data: